<form id='products_new'>
  <label for='product_title'>Title</label>
  <input type='text' id='product_title' name='product[title]'>

  <br>

  <label for='product_main_photo'>Main Photo</label>
  TODO

  <br>

  <label for='product_bid_price'>Initial Bid Price</label>
  <input type='text' id='product_bid_price' name='product[bid_price]'>

  <br>

  <label for='product_bid_end'>Bid End</label>
  TODO

  <br>

  <label for='product_fixed_price'>Fixed Price</label>
  <input type='text' id='product_fixed_price' name='product[fixed_price]'>

  <label for='product_description'>Description</label>
  <textarea id='product_description' name='product[description]'></textarea>

  <input type='submit' value='New Product'>
</form>