// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

body { padding-top: 60px; }

@import 'bootstrap-responsive';

.navbar .brand {
  margin-left: -5px;
}

.row {
  margin: auto;
}

[class*="span"] {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: -5px;
}

#content {
  margin-top: 30px;
}

.product {
  width:230px;
  height:250px;
  text-align:center;
  border:1px solid #585858;
}

.productTitle {
  padding-top:5px;
  margin:auto;
  width:210px;
  height:25px;
}

.productImage {
  margin:auto;
  width:210px;
  height:110px;
  align:center;
}

.productImage img {
  max-height:110px;
}