// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

body { padding-top: 40px; }

@import 'bootstrap-responsive';

.navbar .brand {
  margin-left: 0px;
}

.pull-right {
  margin-right: 0px;
}

.row-fluid [class*="span"] {
  margin-left: 7px;
  margin-right: 7px;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 7px;
  margin-right: 7px;
}

[class*="span"] {
  margin-bottom: 20px;
}

#content {
  margin-top: 30px;
}

.product {
  min-width:183px;
  max-width:183px;
  height:304px;
  text-align:center;
  border:1px solid #585858;
}

/* Change padding-top to 13px when converting to auction site */
.productTitle {
  padding-top:25px;
  margin:auto;
  width:183px;
  height:25px;
  font-size:11px;
  line-height:14px;
  color:#000;
  font-family:Arial;
}

.productImage {
  margin:auto;
  width:164px;
  max-height:115px;
  align:center;
}

.productImage img {
  max-height:115px;
}

.productPrice {
  font-size:18px;
  color:#32CD32;
  font-weight:bold;
}